.Board {
  display: flex; 
}

.column-wrapper {
  flex-grow: 1;
}

.Column {
  padding: 25px;
  text-align: center;
}

.column-wrapper:nth-child(4n + 1) .Title {
  background-color: #8E6E95; 
}

.column-wrapper:nth-child(4n + 2) .Title {
  background-color: goldenrod; 
}

.column-wrapper:nth-child(4n + 3) .Title {
  background-color: dodgerblue; 
}

.column-wrapper:nth-child(4n + 4) .Title {
  background-color: tomato; 
}


